html {
    background: url('/static/images/palesand.gif') repeat 0 0; 
}
body {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    background: #eee;

    margin: 0 auto;
    width: 900px;
    font-size: 18px;
}
@media (max-width: 950px) { body { width: 800px; } }
@media (max-width: 850px) { body { width: 700px; } }
@media (max-width: 750px) { body { width: 600px; } }
@media (max-width: 650px) { body { width: 510px; } }
@media (max-width: 550px) { body { width: 420px; } }
@media (max-width: 450px) { body { width: 330px; } }
@media (max-width: 350px) { body { width: 300px; } }

.kanji-background {
    background: url('/static/images/KanjiBackground.gif') repeat 0 0; 
}

.white-background {
    background: white;
}

.cover-background {
    background: url('/static/images/mary_cover.jpg') no-repeat fixed;
    background-size: 60%;
    background-position: 100% 0%;
}
@media (max-width: 650px) {
    .cover-background {
        background: white;
    }
}

.pretty-image {
    height: 10em;
    margin: 0 auto;
    overflow: hidden;

    //border-style
}

.pretty-image > div {
    height: 100%;
    position: relative;
    float: right;
    right: 50%;
}

.pretty-image > div > img {
    border-radius: 4px;
    position: relative;
    right: -50%;
    max-height: 100%;
}

.menu-col {
    width: 40%;
    float: left;
}
@media (max-width: 650px) {
    .menu-col {
        width: 100%;
        padding-bottom: 20px;
    }
}

.image-col {
    width: 60%;
    float: left;
}
@media (max-width: 650px) {
    .image-col {
        width: 100%;
    }
}

.menu-items {
    padding-right: 20px;
    border-top: 2px grey solid;
    border-bottom: 1px grey solid;
}

.menu-item {
    text-decoration: none;
    color: inherit;
}

.menu-item > div {
    border-top: 1px #ccc solid;
    border-left: 10px #ccc solid;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    //border-bottom: 1px solid black;
}

.menu-item.active-item > div {
    border-left: 10px #333 solid;
    background: #ffffe6;
}

.menu-item.active-item > div > span {
    font-weight: 700;
}

@media (max-width: 650px) {
    .menu-items {
        padding: 0, -15px; 
    }
    .menu-item {
        padding: 0, 15px;
        float: left;
        width: 50%;
    }
    .menu-item > div{
        border-left: 10px #eee solid;
    }

}

.logo-holder {
    display: table;
    text-align: center;
    vertical-align: middle;
}

.logo-holder > h2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-text {
    font-family: Candara;
    font-weight: 700;
}

.welcome-body {
    padding: 10px;
    margin: 10px;
}

ul.big-list > li {
    margin-bottom: 1em;
}

.boxShadow--md {
    border: 0px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
